/* @page { */
    /* size: portrait;  */
    /* size: landscape; */
    /* width: 210mm; */
    /* height: 297mm; */
    /* size: 210mm 297mm; */
    /* margin: 5mm 5mm 5mm 5mm; */
/* } */

/* @page {
    size: A3;
    size: landscape;
    margin: 0;
    -moz-transform: rotate(270deg) translate(x, 0) scale(x);
    -ms-transform: rotate(270deg) translate(x, 0) scale(x);
    transform-origin: 0 0;        
} */
 
/* @media print{
    body{
        -ms-transform: rotate(270deg);
         IE 9 
        -webkit-transform: rotate(270deg);
         Chrome, Safari, Opera 
        transform: rotate(270deg);
        top: 1.5in;
        left: -1in;
    }

} */

/*
@media print {
    html, body {
    width: 210mm;
    height: 297mm;
    }
} */

/* .coupon01{ */
    /* width: 297mm; */
    /* height: 210mm; */
    /* border : 1px solid #000000; */

    /* -ms-transform: rotate(90deg); */

    /* background-image: url(../images/a3_bg.jpg) !important;  */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* -webkit-print-color-adjust: exact;  */
    /* position: relative; */
/* } */
/* 
.page
{
 -webkit-transform: rotate(-90deg); 
 -moz-transform:rotate(-90deg);
 filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
} */

/* coupon01 start */
.coupon01{
    border : 1px solid #000000;    
}

.coupon_a4_01{
    height: 8%;
}

.coupon_a4_01 img{
    width: 100%;
}

.coupon_a4_02{
    padding: 10px 40px;
    margin: 12px;
    font-weight: 800;
    font-size: 4em;
    color: #ed1b24;
    height: 10%;
}

.coupon_a4_03{
    text-align: right;
    font-size: 2em;
    padding-right: 6%;
    font-weight: 500;
    height: 5%;    
}

.coupon_a4_04{
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    height: 12%;    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}

.coupon_a4_05{
    overflow: hidden;
    height: 35%;
}

.a4_05_lft{
    float: left;
    font-size: 2em;
    font-weight: 600;
    padding-left: 55px !important;
    padding-top: 55px !important;
}

.a4_05_lft > div{
}

.a4_04{
    color: #ed1b24;
}

.a4_05{
    margin-top: 5px;
}

.a4_05 img{
	border : 2px solid #d0d0d0;    
}

.a4_05_rgt{
    float: right;
	margin-right: 35px;
    
}
.a4_05_rgt img{
}

.coupon_a4_06{
    text-align: right;
    padding-left: 55px;
    margin-top: 25px;
    height: 20%;
}
.a4_06_lft{
    float: left;
    color: #fff;
    width: 30%;
    height: 80%;
    background-color: #55B190 !important;
    padding: 20px;
}

.a4_06_lft span{
  display: block;
    font-size: 2em;
}

.a4_06_rgt{
    float: right;
    margin-right: 30px;
}


.a4_price_before{
    color: #666;
    font-weight: 700;
    font-size: 3.5em;
    text-decoration:line-through;
}

.a4_price_before:after{
}

.r200_price_after_tag,
.a3_price_after_tag,
.a4_price_after_tag{
	display: inline;
    color: #ed1b24;
    font-weight: 800;
    font-size: 0.45em;
	margin-right: 8px;
}

.a4_price_after{
    color: #ed1b24;
    font-weight: 800;
    font-size: 4em;
}

.coupon_a4_07{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    display: inline-block;
    width: 100%;
} 

/* coupon02start */
.coupon02{
    border : 1px solid #000000;
}

.coupon_a3_01{
    height: 15%;
    margin-bottom: 1%;    
}

.coupon_a3_01 img{
    width: 100%;
}

.coupon_a3_02{
    height: 10%;
}

.coupon_a3_02 > div{
   display: inline-block;
}

.coupon_a3_02a{
    width: 45%;    
    font-size: 3em;
    text-align: left;
    margin-left: 3%;        
    font-weight: 800;
    color: #ed1b24;
}

.coupon_a3_02b{
    width: 45%;    
    font-weight: 500;
    text-align: right;
    font-size: 2em;
    color: #333;
}

.coupon_a3_04{
    font-size: 4em;
    font-weight: 800;
    text-align: left;    
    margin-left: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 10%;
}

.coupon_a3_05{
    overflow: hidden;
    margin-left: 7%;    
    height: 57%; 
}

.coupon_a3_05 > div{
}


.a3_05_lft{
    float: left;
    font-weight: 600;
}

.a3_02{
    margin-top: 30%; 
    font-size: 2.5em;        
}

.a3_03{
    font-size: 2.5em;        
}

.a3_04{
    color: #ed1b24;
    font-size: 2.5em;    
}

.a3_05 > div{
    display: inline-block;
}

.a3_sale{
    color: #fff;
    background-color: #55B190;
    padding: 16px;
    font-size: 20px;   
}

.a3_sale > span{
    display: block;
    font-size: 1em;   
    text-align: right;
}

.a3_qrcode{
    width: 123px;
    height: 123px;
    background-color: #fff;
	border : 1px solid #d0d0d0;
    margin-right: 10px;
    float: left;
}

.a3_qrcode img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.a3_05_rgt{
    float: right;
    text-align: right;
    margin-right: 5%;
    padding-top: 220px;
}

.a3_pd_img{
    position: absolute;
    transform: translate(-60%,5%);
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin-right: 10px;
}
.a3_pd_img img{
    width: 100%;
    height: 100%;
}

.a3_price_before{
    margin-top: 30%;
    display: inline-block;
    color: #666;
    font-weight: 700;
    font-size: 2.5em;
    text-decoration:line-through;        
}

.a3_price_after{
    color: #ed1b24;
    font-weight: 800;
    font-size: 3.5em;
}

.coupon_a3_07{
    width: 100%;
    float: left;
    text-align: left;
    margin-left: 5%;
}

/* coupon03 200_70 start */
.coupon03{
    border : 1px solid #000000;
}

.coupon03_wrap{
    width: 200mm;
    height: 70mm;    
    border : 3px solid red;
}

.coupon03 .r200_lft{    
    float: left;    
    width: 25%;
    height: 100%;
}

.coupon03 .r200_lft img{
    width: 100%;
    height: 100%;
}

.coupon03 .r200_rgt{
    width: 75%;
    float: left;
    vertical-align: top;
}

.coupon_r200_02{
    font-size: 30pt;
    font-weight: 800;
    margin: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.coupon_r200_02::after{
    content: '';
    display: block;
    width: 95%;
    height: 5px;
    background-color: red;
}

.coupon_r200_03{
    padding: 0 10px;
    font-size: 15pt;
    margin-bottom: 5px;
    font-weight: 500;
}

.r200_04{
    color: #ed1b24;
}

.coupon_r200_04{
    margin-left: 10px;
}

.coupon_r200_04 > div{
    display: inline-block;
    vertical-align: top;
}

.r200_04_lft > span{
    display: block;
    background-color: #55B190 !important;
    color: #fff;
    text-align: right;
    font-size: 15px;    
    padding: 7px;
    /* padding-right: 5px; */
}

.r200_04_center img{
    width: 90%;
    height: 90%;
}

.r200_04_rgt{
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
}

.r200_price_before{
    color: #666;
    font-weight: 700;
    font-size: 20pt;
    text-decoration:line-through;    
}

.r200_price_after{
    color: #ed1b24;
    font-weight: 800;
    font-size: 30pt;
}
