

@media print {
    
    * {
     line-height: 1 !important;
    }
    
	  body, page {
/*
		margin: 0;
        padding: 0;
		box-shadow: 0;
*/
	  }
    .coupon_print_lft{
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .coupon01{
/*        210 × 297 mm*/
        margin: 0;
        padding: 0;
        width: 201mm;
        height: 288mm;
        page-break-before: always;
    }

    
/*
    .coupon_a4_02{ 
    font-size: 6em;

        border-bottom: 3px solid #555;
    }
    
    .coupon_a4_03{
        font-size: 3em;
    }
    
    .coupon_a4_04{
        font-size:  6em;
    }
    
    .a4_05_lft{
        font-size: 3.5em;
    }
    
    .a4_price_before{
        font-size: 5em;
    }
    
    .a4_price_after{
        font-size: 6.5em;
        top: 100px;
    }
    
    .coupon_a4_07{
        font-size: 1.5em;
    }
*/
    
    .coupon02{
        width: 425mm;
        height: 292mm;
        page-break-after: always;
    }
    
    .coupon_a3_02{
        font-size:  7em
    }
    
    .coupon_a3_05{
        font-size: 4em
    }
    
    .coupon_a3_04{
        font-size: 7em;
    }
    
    .coupon_a3_07{
        font-size: 2em;
    }
    
    .a3_price_before{
        font-size: 6em;
    }
    
    .a3_price_after{
        font-size: 8em;
    }
    
    .coupon_a3_02{
    padding: 4rem;
    }
    
    .coupon_a3_05 > div{
        margin-bottom: 1rem;
    }
    
    .coupon_a3_04{
        padding: 1% 5%; 
    }
    
    .a3_price_before{
        top: -75%;
    }
    
    .coupon03 .r200_lft span{
        margin: 3.5rem auto 0;
        line-height: 2;
    }
    
    .coupon_200_02{
        margin: 1rem 1rem 1.5rem;
    }
    
    .coupon_r200_04 > span{
        bottom: -5px;
    }
    
    .coupon_r200_03 >div{
        margin-bottom: .2rem;
    }
    
    

}
