
@charset "utf-8";
@import url("../css/notosanskr.css");

/*2020-04-08 웹폰트 속도 및 호환 제고 - 김수경*/

@font-face{
    font-family:"농협체M";
    src: local("농협체M"),
    url(../font/NonghyupM.woff2) format("woff2"),
    url(../font/NonghyupM.woff) format("woff"),
    url(../font/NonghyupM.ttf) format("truetype"),
	  url(../font/NonghyupM.eot) format("embedded-opentype");
}

/*2020-05-07 폰트추가 - 미솔*/

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../font/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../font/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}


html{overflow-x:hidden;}
t{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:"Noto Sans KR", sans-serif !important;font-size:15px;letter-spacing: -.5px !important;}
/*body,input,textarea,select,button,table{font-family:"Spoqa Han Sans", sans-serif;font-size:15px;}*/

input:focus{outline: none;}
img,fieldset{border:0}
ul,ol{list-style:none;}
em,address{font-style:normal}
th{text-align:left}
a{text-decoration:none;color:#555;}
a:hover,a:active,a:focus{}
.blind{position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
hr{display:none}
* {box-sizing: content-box;-webkit-box-sizing:content-box;}
h4{font-weight:400;color:#888;}


.headerActive{
    border-bottom : 3px solid #55B190;
}

.headerActive a{
	color: #55B190;
	font-weight : 500;
}
.noCont{
    
    text-align: center;
    color : #777;
    font-size: 13px;
}


/*2020-02-18 주석처리 한 부분 - 나영*/

/*체크박스*/

/* The container */
.container {
  display: inline-block;
  position: relative;
  padding : 0 20px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    vertical-align: middle;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border : 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #f0f0f0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 7px;
  border: solid #555;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*2020-02-18 주석처리 한 부분 - 나영*/