body{-webkit-text-size-adjust: none;}

/*pc Login page start*/

.modal-header {
    text-align: center;
}

.modal-header h1 {
    width: 150px;
    margin: auto;
}

.modal-header h1 img {
    width: 150px;
}

.modal-header span {
    font-size: 14px;
}

button.btn-primary {
    background-color: #55B190;
    border-color: #55B190;
}

button.btn-primary:hover {
    background-color: #00a03a;
    border-color: #00a03a;
}

.modal_sign_btn {
    color: #a2a2a2 !important;
}

.modal-footer{
    padding-top: 0 !important;
}

.modal-footer .modal_sign_btn:not(:last-child):after{
    content: "|";
    margin-left: 5px;
    display: inline-block;
}

.modal-footer>:not(:first-child) {
    margin-left: 0 !important;
}

div.modal-header {
    padding: 3rem 1rem 0rem;
}

.modal-dialog #btnSave{
    padding: 10px 15px;
}

:-ms-input-placeholder.form-control {
    color: #6c757d;
    opacity: 1;
}

.logo_img {
    width: 160px;
    padding-top: 20px;
    padding-left: 20px;
}

.form-control:focus {
    border-color: rgb(0, 177, 64) !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 177, 64, .25) !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #00a03a !important;
    border-color: #00a03a !important;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(00, 143, 66, 0.5) !important;
}

/*pc Login page end*/

/*#share_btn*/

#share_btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #55b190;
    border-radius: 50%;
    z-index: 99;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
}

.share_btn_inner{

}

.share_btn_inner img{
    width: 100%;
    transition: .3s;
}

.share_btn_inner img.active{
    transform: rotate(45deg);
}


#share_list{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    z-index: 98;
    background-color: #fff;
    box-shadow: 0 2px 6px 3px rgba(0,0,0,.1);
    transition: .3s;
}

#share_list.active{
    bottom: 0;
}

#share_list ul li{
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    
}

#share_list ul li:first-child{
    border-top: 0;
}

#share_list ul li a{
    display: block;
    padding: 0 5px;
    font-size: 15px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #755a3c;
}



#share_list ul li a img{
    width: 25px;
    height: 25px;
    padding: 3px;
    margin: 0 20px;
    vertical-align: middle;
}


/*#aside 시작*/

#aside{
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 999;
    width: 100%;
}

#aside_black{
    position : absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.6);

}

.aside_mypage > div{
    border-bottom: 1px solid rgba(255,255,255,.6);
    color: #fff;
    padding: 15px 5px;
    position: relative;
}

.aside_mypage > div img{
    position: absolute;
    right: 0;
    top: calc(50% - 5px);
    transform: translateY(-50%);
}

.aside_mypage > div > a{
    color: #fff;
}

#aside_wrap{
    padding-top: 10px;
    width: 80%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    left: -100%;
/*    left: 0;*/
}

#aside_wrap > div{
    overflow: hidden;
    padding: 10px 20px;
    font-size: 16px;
/*    border-bottom: 1px solid #e0e0e0;*/
    transition: .5s left ease-in-out;
}

#aside_tos a{
    display: inline-block !important;
    font-size: 12px;
    background-color: #5e9c9c;
    padding: 5px 15px;
    border-radius: 50px;
}

#aside_wrap > div > a,
#aside_wrap > div ul li a{
    color: #fff;
    display: block;
}

.aside_login{
    margin-top: 20px;
}

.aside_login a:hover,
.aside_category ul li a:hover,
.aside_mypage ul li a:hover,
#aside_tos a:hover{
    border-bottom: 2px solid #55B190;
}

#aside_icons{
    margin-top: 5%;
    text-align: center;
    vertical-align: bottom;
}

#aside_icons ul li{
    display: inline-block;
    width: 33.3%;
    text-align: center;
}

#aside_icons ul li img{
    width: 40px;
}

#aside_icons{
  padding: 20px !important;
}

#aside_copyright{
    color: #fff;
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    bottom: 30px;
    font-weight: normal;
}

#aside_icons ul li span{
    display: block;
    color: #fff;
    font-size: 13px;
}
.close_button{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    top: 5px;
    border: none !important;
}

.close_button img{
    width: 100%;
}
.aside_mypage ul li{
    padding: 10px;
}

.aside_category ul li.active{
    border-top: 1px solid rgba(255,255,255,.6);
}

.aside_category ul li{
    padding: 16px 5px;
    border-bottom: 1px solid rgba(255,255,255,.6);
}

.aside_mypage ul{
    height: 0;
    overflow: hidden;
    display: block;
    margin-left: 4px;
    font-size: 15px;
}

.aside_mypage ul.active{
    height: 100%;
    margin-top: 10px;
}

.aside_mypage a img.active{
    transform: rotate(180deg)
}

.aside_mypage a img{
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    transform: rotate(0deg)
}

.aside_mypage {
    padding-bottom: 0 !important;
}

.aside_category{
    padding-top: 0 !important;
}
/*Header starts*/

header{
    overflow: hidden;
    position: relative;
}

header h1{
width: 90%;
text-align: center;
font-size: 16px;
    line-height: 54px;
}


header h1 a{
    
}

header h1 a span{
    color: #55b190;
    font-family: "농협체M","noto-sans";
    font-weight: 500;
    text-shadow: #fff 0px 1px 1px;
   
}

header h1 img{
    width: 90px;
}

header .aside_btn{
    position: absolute;
    left: 20px;
    top: 15px;
    width: 25px;
    height: 25px;
}

header .aside_btn img{
    width: 100%;
}

header #header_inner_wrap{
    position: absolute;
    right: 20px;
    top: 17px;
}

header #header_inner_wrap div{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

header #header_inner_wrap div a{
    display: block;
}

header #header_inner_wrap div img{
    width: 100%;
}

#cart, #alert{
    position: relative;
}

#cart .header_alert,
#alert .header_alert{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 9px;
    color:#fff;
    text-align: center;
    background-color: rgba(255,0,0,1);
    line-height: 11px;
}
#alert .header_alert{
    top: -2px;
    right: 0;
}

#cart .header_alert{
    right: -5px;
    top: -2px;
}

nav{
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    overflow-x: scroll;
}

/* nav 상단 고정 20200604 JB*/
nav.active {
    top: 0px;
    position: fixed;
    background-color: #FFF;
    z-index: 9;
}

#prod_cont_count{
    /* position: absolute; */
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    color:#fff;
    text-align: center;
    background-color: #ff8266;
    line-height: 18px;
}

/*normal*/
::-webkit-scrollbar-thumb {
    /*...*/
}

/*hidden*/
.hide-scrollbar ::-webkit-scrollbar-thumb{
    visibility : hidden;
}

/**/
/*::-webkit-scrollbar {*/
/*display: none;*/
/*}*/


header nav ul{
/*    overflow: scroll;*/
    width : 2000px;
}

header nav ul li{
    float: left;
    max-width: 100px;
    text-align: center;
    padding: 10px 15px;
    font-size: 15px;
}

header nav ul li.active{
    border-bottom: 2px solid #55b190;
}

header nav ul li.active a{
    color: #55b190;
    font-weight: 600;
}

.header_notice_wrap{
    height: 33px;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
}

.header_notice_wrap ul li{

	text-align : center;
/*왼쪽정렬일때*/
/*    text-align: left;*/
/*	margin-left : 20px;*/
/*	width : calc(100% - 20px);*/
    padding: 5px 0;
    height: 27px;
}

.header_notice_wrap ul li span{
    margin-right: 3px;
}
.header_notice_wrap ul li a{
    font-size: 12px;
}

.header_notice_wrap ul li img{
    width: 40px;
    height: 12px;
}
.header_notice_wrap{
    position: relative;
}

.header_notice_inner_wrap{
    overflow: hidden;
    position: relative;
}

.notice_ani_box{
    position: relative;
    margin-top: -37px;
}



/*item_list_wrap starts*/

/*2020-06-02 padding-top 수정 미솔*/
.item_list_wrap{
    margin-top: 10px;
    min-height : 100vh;
    overflow: hidden;
}
/*2020-06-02 padding-top 수정 미솔*/

.item_list_header_wrap{
    /* width: 60%; */
    height: 35px;
    margin: auto;
    text-align: center;
    /* position: relative; */
}
.btn_left{
    /* position: absolute; */
    /* left: -10px; */
    top: 4px;
    /* z-index: 1; */
    font-size: 15px;
    padding: 0px 15px;
    height: 20px;
    cursor: pointer;
    color: #55B190;
    display: inline-block;
}
.btn_right{
    /* position: absolute; */
    /* right: -10px; */
    top: 4px;
     /* z-index: 1; */
    font-size: 15px;
    padding: 0px 15px;
    height: 20px;
    cursor: pointer;
    color: #55B190;
    display: inline-block;
}
.date_item_list_wrap{
    display: inline-block;
    /* padding: 0px 20px; */
    /* position: relative; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
}
.date_item_list_wrap ul{
    /* display: block; */
}
.date_item_list_wrap ul li{
    /* float: left; */
    text-align: center;
    font-size: 16px;
    /* vertical-align: top; */
    /* letter-spacing: 1px; */
    color: #333;
}
/*20200507 폰트사이즈 수정 - 미솔*/

.selected_jd{
    /* position: absolute;  */
    /* overflow: hidden; */
}

/* .item_list_title_wrap{
    width: 60%;
    height: 35px;
    margin: auto;
    position: relative;
} */

.item_list_banner_wrap{
/*    height: 75px;*/
/*    min-height: 75px; /*임의로 잡아놓은 높이*/
	height: 3px;
    min-height: 3px; 
    position: relative;
}

.item_list_banner_wrap .swiper-container{
    overflow: hidden !important;
}

.item_list_banner_wrap ul{
    position: absolute;
  
}

.item_list_banner_wrap ul li{
    float: left;
    height: 75px;
}

.item_list_banner_wrap ul li img{
    width: 100%;
    height: 100%;
}

.item_list_banner_wrap .swiper-pagination-fraction, 
.item_list_banner_wrap .swiper-pagination-custom, 
.item_list_banner_wrap .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 0px !important;
}

.swiper-pagination-bullet-active{
    background-color: #fff !important;
}

 .item_list_banner_wrap .swiper-container {
      width: 100%;
      height: 100%;
    }

.item_list_banner_wrap .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
    }

/* .btn_lft{
    position: absolute;
    left: -10px;
    top: 4px;
    z-index: 1;
    height: 20px;
    cursor : pointer;
    color : #55b190;
} */

/* .btn_rgt{
    position: absolute;
    right: -10px;
    top: 4px;
     z-index: 1;
    font-size: 15px;
    height: 20px;
    cursor : pointer;
    color : #55b190;
} */
.banner_btn_lft img,
.banner_btn_rgt img,
.btn_lft img,
.btn_rgt img{
   height: 100%;
}

/* .date_item_wrap ul{
    display: block;
}

.date_item_wrap ul li{
    float: left;
    text-align: center;
    font-size: 17px;
    vertical-align: top;
    letter-spacing: 1px;
    color: #333;
}

.date_item_wrap{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.title_anibox{
    position: absolute; 
    overflow: hidden;
} */




/*item_list 3열*/


.item_list_inner_wrap .figure.figure3{
    /*어디서 깨지는지 확인*/
    width: calc(33.333% - 20px);
    float: left;
    margin: 15px 10px 0;
    min-height: 191px;
    max-height: 210px;
}

.item_list_inner_wrap .figure.figure3 .product_detail{
    min-height: 65px;
    height: 92px;
    max-height: 92px;
}

/* 찜하기 에서 전단일자 표시용으로만 사용됨 */
.item_list_inner_wrap .figure.figure3 .product_detail span{
    display: block;
    float: left;
    width: 100%;
    max-height: 17px;
    min-height: 17px;
    height: 100%;
    text-align: center;
    /* background-color: #222; */
    color: rgb(44,44,44);
    font-size: 10px;
}

.item_list_inner_wrap .figure.figure3 .thumb_wrap{
    position: relative;
    box-sizing: border-box;
    max-width: 130px;
    max-height: 130px;
}

/*.item_list_inner_wrap .figure.figure3 .thumb_wrap > a > img{
    width: 100%;
    box-sizing: border-box;
}*/

/*2020-03-06 수정 여기무터*/

.item_list_inner_wrap .figure.figure3 .thumb_wrap > a{
    display: block;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

.item_list_inner_wrap .figure.figure3 .thumb_wrap > a > img{
   position: absolute;
   margin: auto 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
}

/*2020-03-06 수정 여기까지*/

.item_list_inner_wrap .figure.figure3 .thumb_wrap .discount_info{
    position: absolute;
    box-sizing: border-box;
    bottom: 5px;
    left: 0;
    width: 100%;
}

.item_list_inner_wrap .figure.figure3 .thumb_wrap .discount_info img{
    width: 40%;
    min-height: 17px;
    max-height: 17px;
    float: left;
}

.item_list_inner_wrap .figure.figure3 .thumb_wrap .discount_info span{
    display: block;
    float: left;
    width: 60%;
    max-height: 17px;
    min-height: 17px;
    height: 100%;
    text-align: center;
/*    padding: 1px 0px;*/
    background-color: #555;
    color: #fff;
    font-size: 10px;
}


/*item_list 2열*/

.item_list_inner_wrap .figure.figure2{
    
    width: calc(50% - 23px) !important;
    float: left;
    margin: 15px 15px 0;
}

.item_list_inner_wrap .figure.figure2:nth-child(2n){
    margin-left: 0
}

.item_list_inner_wrap .figure.figure2 .product_detail{
    height: 80px !important;
    min-height: 65px;
    max-height: 85px;
}

.item_list_inner_wrap .figure.figure2 .thumb_wrap{
    position: relative;
    max-width: 170px;
    max-height: 170px;
}

/*.item_list_inner_wrap .figure.figure2 .thumb_wrap > a > img{
 
    width: 100%;
}*/

/*2020-03-06 수정 여기무터*/

.item_list_inner_wrap .figure.figure2 .thumb_wrap > a{
    display: block;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

.item_list_inner_wrap .figure.figure2 .thumb_wrap > a > img{
   position: absolute;
   margin: auto 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
}

/*2020-03-06 수정 여기까지*/

.item_list_inner_wrap .figure.figure2 .thumb_wrap .discount_info{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}

.item_list_inner_wrap .figure.figure2 .thumb_wrap .discount_info img{
    width: 40%;
    float: left;
    max-height : 24px;
    height : 24px;
    vertical-align: bottom;
}

.item_list_inner_wrap .figure.figure2 .thumb_wrap .discount_info span{
    display: block;
    float: left;
    width: 55%;
    max-height:24px;
    overflow: hidden;
    text-align: center;
/*    padding: 1px 0px;*/
    background-color: #555;
    color: #fff;
    font-size: 13px;
    vertical-align: bottom;
    line-height: 24px;
}


/*item_list 1열*/

.item_list_inner_wrap .figure.figure1{
    
    width: calc(100% - 30px) !important;
    padding: 15px 15px 0;
    margin-bottom: 10px;
}

.item_list_inner_wrap .figure.figure1:nth-child(2n){
    background-color: #f7f7f7;
}

.item_list_inner_wrap .figure.figure1 .product_detail{
    display: inline-block;
    width: calc(100% - 10px);
    min-height: 65px;
    vertical-align:top;
    margin-left: 10px;
    margin-top: 10px;
    text-overflow: ellipsis;
}

.item_list_inner_wrap .figure.figure1 .product_detail a{
    text-overflow: ellipsis;
}

.item_list_inner_wrap .figure.figure1 .thumb_wrap{
    display: inline-block;
    position: relative;
    width: 100%;
}

/*.item_list_inner_wrap .figure.figure1 .thumb_wrap > a > img{
 
    width: 100%;
}*/

/*2020-03-06 수정 여기무터*/

.item_list_inner_wrap .figure.figure1 .thumb_wrap > a{
    display: block;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

/*2020-05-15 이미지준비중 width값 100%로 - 미솔*/

.item_list_inner_wrap .figure.figure1 .thumb_wrap > a > img{
    position: absolute;
    margin: auto 0;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     max-width: 100%;
     height: auto;
     width: 100%;
 }
 /*2020-05-15 이미지준비중 width값 100%로(여기까지) - 미솔*/

/*2020-03-06 수정 여기까지*/

.item_list_inner_wrap .figure.figure1 .thumb_wrap .discount_info{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}


/*2020-02-18 주석처리 한 부분 - 나영*/

.item_list_inner_wrap .figure.figure1 .thumb_wrap .discount_info img{
    /* width: 16%; */
    height: 33px;
    min-height : 33px;
    max-height : 33px;
    float: left;
    vertical-align: bottom;
}

.item_list_inner_wrap .figure.figure1 .thumb_wrap .discount_info span{
    display: block;
    float: left;
    min-width: 50%;
    /* width: 22%; */
    max-height:33px;
    min-height: 33px;
    height : 33px;
    overflow: hidden;
    text-align: center;
/*    padding: 1px 0px;*/
    background-color: #555;
    color: #fff;
    font-size: 20px;
}

/*2020-02-18 주석처리 한 부분 - 나영*/


/*2020-05-07 figure1,2 폰트사이즈 변경 - 미솔*/

.figure.figure1 .product {
    margin-top: 3px;
    padding-top: 2px;
    font-size: 20px;
    color: #000;
    letter-spacing: -1px;
 /* 200518 상품명 두줄 ie에서도 보이도록 변경 - 수경 */
    /* min-height: 40px; */
    min-height: 2.6em;
    height: 2.6em;
/* 200518 상품명 두줄 ie에서도 보이도록 변경 - 수경 */
    line-height: 1.3em;
    text-overflow: ellipsis;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.figure.figure2 .product {
    margin-top: 3px;
    padding-top: 2px;
    font-size: 16px;
    color: #000;
    letter-spacing: -1px;
 /* 200518 상품명 두줄 ie에서도 보이도록 변경 - 수경 */
    /* min-height: 40px; */
    min-height: 2.6em;
    height: 2.6em;
/* 200518 상품명 두줄 ie에서도 보이도록 변경 - 수경 */
    line-height: 1.3em;
    text-overflow: ellipsis;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/*2020-05-18 min-height값 변경 - 미솔*/
.product {
    display: block;
    margin-top: 3px;
    padding-top: 2px;
    font-size: 14px;
    color: #000;
    letter-spacing: -1px;
 /* 200518 상품명 두줄 ie에서도 보이도록 변경 - 수경 */
    /* min-height: 40px; */
    min-height: 2.6em;
    height: 2.6em;
/* 200518 상품명 두줄 ie에서도 보이도록 변경 - 수경 */
    line-height: 1.3em;
    text-overflow: ellipsis;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/*2020-05-18 min-height값 변경 - 미솔*/

/*2020-05-07 상품명 두줄로 변경 - 미솔*/

.price{
    font-weight: 900;
    font-family: 'Roboto';
}

.figure1 .price2{
    font-size: 24px;
    letter-spacing: -1px;
    height: 28px;
    overflow: hidden;
    font-weight: 900;
    font-family: 'Roboto';
}

.figure1 .price3{
    font-size: 24px;
    letter-spacing: -1px;
    height: 28px;
    overflow: hidden;
    font-weight: 900;
    font-family: 'Roboto';
}

.figure1 .price4{
    font-size: 24px;
    letter-spacing: -1px;
    height: 28px;
    overflow: hidden;
    font-weight: 900;
    font-family: 'Roboto';
}

/*2020-05-11 전단1열 행사가격 크기 수정 - 미솔*/


.figure1 .price,.price2,.price3,.price4{
    display: block;
    letter-spacing: -1px;
    font-size: 24px;
    overflow: hidden;
    height: 28px;
    text-overflow: ellipsis;
    font-weight: 900;
    font-family: 'Roboto';
}

.figure2 .price2{
    display: block;
    letter-spacing: -1px;
    font-size: 18px;
    overflow: hidden;
    height: 23px;
    text-overflow: ellipsis;
    font-weight: 900;
    font-family: 'Roboto';
}

.figure2 .price3{
    display: block;
    letter-spacing: -1px;
    font-size: 18px;
    overflow: hidden;
    height: 23px;
    text-overflow: ellipsis;
    font-weight: 900;
    font-family: 'Roboto';
}

.figure2 .price4{
    display: block;
    letter-spacing: -1px;
    font-size: 18px;
    overflow: hidden;
    height: 23px;
    text-overflow: ellipsis;
    font-weight: 900;
    font-family: 'Roboto';
}

.figure2 .price,.price2,.price3,.price4{
    display: block;
    letter-spacing: -1px;
    font-size: 18px;
    overflow: hidden;
    height: 23px;
    text-overflow: ellipsis;
    font-weight: 900;
    font-family: 'Roboto';
}

.figure3 .price,.price2,.price3,.price4{
    display: block;
    letter-spacing: -1px;
    font-size: 16px;
    overflow: hidden;
    height: 19px;
    text-overflow: ellipsis;
    font-weight: 900;
    font-family: 'Roboto';
}
/*2020-05-07 가격 글씨체 굵게, 폰트 Roboto로 수정 - 미솔*/

.price{
    color: #333;
}

.price2{
    color:#ff0000
}

.price3{
    color:#417361
}

.price4{
    color: #005ba1;
}

.coupon_price{
    color: #417361
}

.card_price{
    color: #ff0000
}

.more_price{
    color: #55b190
}

.thumb_info{
    position: absolute;
    top: 5px;
    right: 5px;
}

.add_btn{
    width: 25px;
    height: 25px;
    background-color: rgba(161,161,161,.8);
    border-radius: 50%;
    cursor: pointer;
}

.add_btn img{
    width: 65%;
    padding: 5px;
}
.add_btn.like,
.add_btn.active{
     background-color: #55b190;
    position: relative;
}

/*.add_btn.active img{*/
/*    display: none;*/
/*}*/

.add_btn.active:after{
    content: attr(data-num);
    position: absolute;
    left: 9px;
    top: 1px;
    font-size: 15px;
    color: #fff;
    
}



.list_no_item{
    text-align: center;
    padding: 20px;
    color: #9c9c9c;
}

.leaflet_cont{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 99;
    overflow: scroll;
}

.leaflet_cont.active{
    display: block !important;
}

.leaflet_modal_wrap{
    position: relative;
    margin: 20px;
    padding: 40px 20px;
    border-bottom: 5px solid #55b190;
    border-top: 10px solid #55b190;
    background-color: #fff;
}

/* 2020-06-03 width값 수정 및 가운데정렬 미솔*/
.leaflet_modal_wrap .leaflet_thumb_wrap{
    padding: 10px;
    text-align: center;
}

.leaflet_modal_wrap .leaflet_thumb_wrap img{
    width: 70%;
}
/* 2020-06-03 width값 수정 및 가운데정렬 미솔*/

/* 2020-06-03 폰트사이즈 수정 미솔*/
.leaflet_modal_wrap .leaflet_modal_title{
    font-size: 20px;
    border-top: 1px dotted #d0d0d0;
    padding-top: 9px;   
    text-align: center;
    font-weight: 500;
}
/* 2020-06-03 폰트사이즈 수정 수경*/
.leaflet_modal_wrap .leaflet_modal_price{
    font-size: 18px;
    text-align: center;
    color: #333;
    font-weight: 900;
    font-family: 'Roboto';
}

.leaflet_modal_wrap .leaflet_modal_price2{
    font-size: 20px;
    text-align: center;
    color: #ff0000;
    font-weight: 900;
    font-family: 'Roboto';
}

.leaflet_modal_wrap .leaflet_modal_price3{
    font-size: 20px;
    text-align: center;
    color: #417361;
    font-weight: 900;
    font-family: 'Roboto';
}

.leaflet_modal_wrap .leaflet_modal_price4{
    font-size: 20px;
    text-align: center;
    color: #005ba1;
    font-weight: 900;
    font-family: 'Roboto';
}

/* 2020-06-03 폰트사이즈 수정 미솔*/

.leaflet_modal_wrap #table{
    width: 100%;
  
}

/* 2020.05.16 심규문 홈,전단,찜 상품상세페이지의 상품상세 테이블 스타일시트 삭제
.leaflet_modal_wrap #table table{
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    text-align: center;
}
*/

.leaflet_discount{
    margin-top: 20px;
}

/* 2020-06-03 폰트사이즈 수정 및 height값 수정 미솔*/
.leaflet_discount h5{
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 5px;
}

.leaflet_discount h5:before{
    content: '';
    height: 18px;
    width: 3px;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    background-color: #55b190;
}
/* 2020-06-03 폰트사이즈 수정 및 height값 수정 미솔*/

.leaflet_modal_wrap #table tr th,
.leaflet_modal_wrap #table tr td{
    font-size: 12px;
}

.leaflet_modal_wrap #table tr th{
    background-color: #55b190;
}

.leaflet_modal_wrap #table tr td{
    background-color: #f8f8f8;
}

/*2020-06-08 width값 수정 미솔*/
.discount_img img{
    width: 55px;
    margin: 0; padding: 0;
    text-align: left;
}
/*2020-06-08 width값 수정 미솔*/

.discount_notice{
    font-size: 12px;
}

/*2020-06-08 텍스트정렬CSS추가 미솔*/
.table-line .discount2{
    text-align: center;
}
.table-line{
    text-align: right;
}
.leafletmodal_price{
    font-size: 12px;
    font-weight: 900;
    font-family: 'Roboto';
    color: #ff4141;
}
.leafletmodal_price2{
    font-size: 12px;
    font-weight: 900;
    font-family: 'Roboto';
    color: #35ad4f;
}
.leafletmodal_price3{
    font-size: 12px;
    font-weight: 900;
    font-family: 'Roboto';
    color: #2440e0;
}
.table{
    width: 100%;
}
.leaflet_modal_wrap #table .card_s {
    background-color: #555;
    color: #fff;
    font-weight: 100;
    padding-right: 4px;
    font-size: 11px;
}
/*2020-06-08 텍스트정렬CSS추가 미솔*/

/*main modal start*/

.main_modal_wrap{
	position : fixed;
	left : 50%;
	top : 50%;
	transform : translate(-50%, -50%);
	z-index : 9999;
	width : 300px;
/*	border : 1px solid #e0e0e0;*/
}

.main_modal_cont{
	position : fixed;
	left : 50%;
	top : 50%;
	transform : translate(-50%, -50%);
}

.main_modal_img_wrap a img{
	width : 300px;
	display : block;
}

.main_modal_btn_wrap{
	display : flex;
	background-color : #fff;
}

.main_modal_btn_wrap div{
	flex : 1;
	text-align : center;
	padding : 15px 10px;
	font-size : 13px;
	cursor : pointer;
	
}

.main_modal_btn_wrap div:first-child{
	border-right :  1px solid #e0e0e0;
}

/*main start*/
.mobile_slider{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider_ani_box{
 height: 200px;
}

.slider_ani_box li{
    float: left;
}

.slider_ani_box li a{
	display: block;
}

.slider_ani_box li img{
    width : 100%;
}

.slider_page{
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 36px;
	height: 17px;
	text-align : center;
    background-color: rgba(0,0,0,.2);
    font-size: 8pt;
	font-weight : 500;
    letter-spacing: .5px;
    border-radius: 15px;
    color: #fff;
}

.mobile_slider .bx-wrapper .bx-pager{
    bottom: 20px !important;
    right: 15px !important;
    width: auto !important;
    height: 17px !important;
	text-align : center !important;
    background-color: rgba(0,0,0,.2);
    font-size: 8pt !important;
	font-weight : 500 !important;
    letter-spacing: .5px !important;
    border-radius: 15px !important;
    color: #fff !important;
    line-height: 18px;
    padding : 2px 5px !important;
}

.main_cont_wrap > div{
    overflow: hidden;
    padding-top: 15px;
}

.main_cont_wrap>div:nth-child(2n){
    background-color: #f3f3f3;
}



.main_cont h3{
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
}


.main_cont .item_list_inner_wrap{
    overflow: hidden;
}

.main_cont .item_list_inner_wrap .figure{
    margin: 10px 5px 0 10px;
    width: calc(33.333% - 17px);
}

.main_cont .item_list_inner_wrap .figure .thumb_wrap a img{
    border-radius: 10px;
}

.main_view_more{
    padding: 0 20px 20px;
    text-align: right;
    font-size: 13px;
    letter-spacing: -1px;
}

.main_view_more span{
    font-weight: 500;
}

/*header inner_box*/
.inner_cont{
    background-color: #eeeeee;
}

.inner_box{
    position: relative;
    padding-top: 5px;
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    
}

.inner_box > div span {
    width: 20px;
    height: 20px;
    display: block;
}

.inner_box > div span img{
    width: 100%;
}

.back_column{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.title_column{
    width: 100%;
    text-align: center;
    padding: 8px 0 12px;
    font-size: 16px;
    color: #55b190;
    font-weight: 500;
}

/*tos  이용약관*/

.tos_cont{
    padding: 20px 10px 0;
}
.tos_cont div{
    font-size: 13px;
    background-color:#fff;
    margin: 10px 20px;
    padding: 10px;
    height: 300px;
    overflow: scroll;
    border: 1px solid #e3e3e3;   
}
.tos_cont .t_tit{
   color:#565656;
}
.tos_cont .t_tit>h4{
    font-size:15px;
    margin:13px 0;
    font-weight:600;
    color:#000;
}
.tos_cont .t_tit>h5{
    font-size:14px;
    font-weight:500;
    color:#292929;
    margin:10px 0;
}

.tos_cont .t_tit p.tit_1{
    font-size: 13px;
    font-weight:400;
    padding-left:5px;
    line-height:18px;
}
.tos_cont .t_tit p.tit_1 span{
    color:#0042ff;
}
.circlednum_type{
    font-size: 13px;
    line-height:18px;
    text-indent:-14px;
    padding-left:18px;
}
.circlednum_type li{
    padding-bottom:2px;
    
}
.circlednum_type_1{
    font-size: 13px;
    line-height:18px;
    text-indent:-8px;
    padding-left:15px;
    margin:3px 0;
}
.circlednum_type_2{
    font-size: 13px;
    line-height:18px;
    text-indent:-16px;
    padding-left:18px;
    margin:3px 0;
}
/*tos end*/

/*personal_info*/
table.tb1{
    font-size:12px;
    margin:3px 2px; 
    width:100%;
    padding:5px 10px;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
}

table.tb2{
    font-size:12px;
    margin:2px;
    width:100%;
    border: 1px solid #999999;
    margin-left:-20px;
}

table.tb2 td{
    padding:3px;
    
}
table.tb2 tr.bg_txt1{
    background-color:#fbfbfb;
}
table.tb2 tr.bg_txt{
    background-color:#f5f5f5;
}
table.tb2 tr.bg_txt2{
    background-color:#f1f1f1;
}
.ct{
    text-align:center;
}
.ct1{
    text-align:center;
    padding:2px;
}
.pl-10{
    padding-left:-10px;
    text-indent:0;    
}/*personal_info end*/

/*slide_btn*/

.setting_wrap #agreePush,
.setting_wrap #agreeLocation{
	
	width : 0;
	height : 0;

}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input[type=checkbox]:checked + label > .slider{
  background-color: #55b190;
}

input[id="agreePush"]:focus + label > .slider,
input[id="agreeLocation"]:focus + label > .slider{
  box-shadow: 0 0 1px #2196F3;
}
input[id="agreePush"]:checked + label > .slider:before,
input[id="agreeLocation"]:checked + label > .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*setting start*/

.setting_wrap li{
    display: flex;
    padding: 20px;
    border-bottom:1px solid #e0e0e0;
    background-color: #fff;
}

.setting_wrap li h3{
   font-size: 16px;
    flex: 1;
    font-weight: 400;
}

.setting_wrap li#memRe h3{
	cursor : pointer;
	font-weight : 500;
}

/*login start*/
.sim_info_modal_wrap{
    display: none;
}

/*.sim_info_modal_wrap,
.agree_modal_wrap{
    
    position : fixed;
    top : 100px;
    left : 50%;
    transform : translateX(-50%);
    width : 350px;
    height : 465px;
    
} */
/* 앱 접근권한 동의 모달 가운데 세로 정렬 및 스크롤 가능하게 수정 20200529 */
.sim_info_modal_wrap,
.agree_modal_wrap{
    
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translateX(-50%) translateY(-50%);
    width : 350px;
    height : 465px;
}

.sim_info_modal_wrap .modal_black,
.agree_modal_wrap .modal_black{
    width: 100vw;
    height: 100vh;
    position : fixed ;
    top : -100px;
    left: -50px;
    padding: 50px;
    background-color : rgba(0,0,0,.5);
    z-index : -1;
}
.sim_info_modal_wrap img,
.agree_modal_wrap img{
    display : block;
    width: 100%;
    z-index : 1;
}

.sim_info_modal_wrap button,
.agree_modal_wrap button{
    display : block;
    width: calc(100% - 20px);
    background-color: #55b190;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    box-shadow : none;
    border : 0;
    z-index : 1;
}


.login_cont p{
    font-size: 12px;
    background-color:#fff;
    margin: 0 20px 10px;
    padding : 10px;
    overflow: scroll;
    border-top: 1px solid #e3e3e3;
    color : #888;
}

.inner_of_login .login_cont:first-child{
    border-bottom : 1px solid #d8d5d5;
    padding : 10px 0;
    margin : 0 5px;
}

.inner_of_login .login_cont:first-child .login_check_wrap{
    margin : 10px 15px 0;
}

.login_agree_wrap{
    margin: 0 20px;
    font-size: 13px;
}

.login_agree_wrap a{
    font-size: 13px
}

/*2020-02-18 주석처리 한 부분 - 나영*/

.info_submit_btn,
.login_submit_btn{
    position: absolute;
    bottom: 20px;
    width: calc(100% - 48px);
    background-color: #55b190;
    color: #fff;
    margin: 0 10px;
    padding: 14px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

/*2020-02-18 주석처리 한 부분 - 나영*/

.login_check_wrap {
  position: relative;
    margin : 10px 20px 0;
    padding : 15px;
  background-color : #fff;
}

.login_read_wrap{
    margin : 10px 30px 0;
    font-weight : 400;
    font-size : 13px;
/*    text-align : center;*/
}

.login_read_wrap a{
    font-weight : 600;
    color : #2b9aff;
}

.login_read_wrap span{

    color : #a0a0a0;
}

.login_check_wrap span{
    margin-left : 19px;
    font-size: 13px;
    font-weight: 600;
    color: #444;
}


.login_check_wrap img{
    width : 20px;
    position : absolute;
    right : 12px;
}

.login_check_wrap label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 28px;
}

.login_check_wrap label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.login_check_wrap input[type="checkbox"] {
  visibility: hidden;
}

.login_check_wrap input[type="checkbox"]:checked + label {
  background-color: #55b190;
  border-color: #55b190;
}

.login_check_wrap input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.info_input_table{
    background-color: #fff;
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    padding: 0 0 30px;
}


.info_input_table th,
.info_input_table td{
    padding: 0 10px;
}

.info_input_table th{
    font-size: 12px;
    text-align: center;
    color: #555;
    font-weight: 500;
}

.info_input_table input{
    border: 1px solid #ccc;
    box-shadow : none;
    padding: 5px;
    background-color : #fff;
    width: calc(100% - 10px);
    font-size: 13px;
    border-radius : 0 ;
}

.certification_table input{
    width : calc(70% - 13px);
    display : inline-block;
    border: 1px solid #ccc;
    border-radius : 0 ;
    box-shadow : none;
    padding: 5px;
    background-color : #fff;
    font-size: 13px;
}

.certification_table button{
    display : inline-block;
    width : calc(30% - 15px);
    padding: 6.5px;
    font-size : 12px;
}

#certNumSub{
    border : 1px solid #55b190;
}

#simCertOkay,
#certTable{
    display : none;
}


/*my_info start*/

.my_info_table{
    width: 90%;
    background-color: #fff;
    margin: 12px 20px;
    padding: 10px;
    border: 1px solid #e3e3e3;
  
}

.my_info_table tr th,
.my_info_table tr:first-child td,
.my_info_table tr:nth-child(2) td{
    margin: 12px 0 10px;
}

.my_info_table tr th{
    padding: 15px;
    font-size: 12px;
}

.info_input{
 display: block;   
margin-bottom: 3px;
}

.info_input input{
    width: calc(100% - 10px);
    padding: 5px;
    border:1px solid #e3e3e3;
    box-shadow: none;
    font-size: 14px;
    
}

#zipcode_input{
    width: 50%;
}

.info_zipcode{
    width: 40%;
    padding: 5px 0;
    border : 1px solid #e3e3e3;
    box-shadow: none;
    font-size: 13px;
}

/*2020-02-18 주석처리 한 부분 - 나영*/

.info_save_chk{
    width: calc(100% - 30px);
    margin: 0 15px;
    position : absolute;
    bottom: 77px;
    letter-spacing : 0;
}
.info_save_chk a{
    color : #007eff;
}

/*2020-02-18 주석처리 한 부분 - 나영*/


/*my_coupon start*/


.product_modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 99;
    overflow: scroll;
}

.product_modal.active{
    display: block;
}


.modal_cls{
    position: absolute;
    top: 7px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 999;
}

.modal_cls img{
    width: 100%;
}

.product_modal_wrap{
    position: relative;
    margin: 30px;
    border-bottom: 5px solid #55b190;
    border-top: 10px solid #55b190;
    
}
.product_modal_wrap .coupon_info{
	width : calc(100% - 20px);
	height: 32px;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space:nowrap;
    font-size: 25px;
    padding: 40px 10px 5px;
    font-weight: 600;
    background-color: #fff;
    
}


.product_modal_wrap .coupon_thumb_wrap{
    padding: 10px;
    background-color: #fff;
}

.product_modal_wrap .coupon_thumb_wrap img{
    width: 50%;
}

.product_modal_wrap .coupon_barcode_wrap{
    padding: 5px 50px;
    background-color: #fff;
}

.product_modal_wrap .coupon_barcode_wrap span img{
    width: 100%;
}

.product_modal_wrap .coupon_title{
    font-size: 17px;
    border-top: 1px dotted #d0d0d0;
    padding-top: 9px;   
}
.coupon_bg{
    background-image: url(../images/my_coupon_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.coupon_btn{
    display: block;
    background-color: #55b190;
    padding: 10px;
    width: 200px;
    margin: auto;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
}

.coupon_txt{
    padding: 30px;
    background-color: #fff;
}

.coupon_txt p{
    text-align: left;
    font-size: 13px;
}

/*my_stamp start*/


.my_stamp_cont{
    margin: 12px 15px;
    padding: 20px 15px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    text-align: center;
}

.my_stamp_cont > div{
    margin-top: 10px;;
}

.my_stamp_cont > div:first-child{
    margin-top: 0;
}

.stamp_inner_wrap ul{

}

.stamp_inner_wrap ul li{
    display: inline-block;
    width: 37px;
    height: 37px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    border:1px solid #e3e3e3;
}

.stamp_inner_wrap ul li img{
    width: 100%;
}

.stamp_title{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 3px solid #55b190;
}
.stamp_date_wrap{
    font-size: 13px
}

.stamp_modal_layer{
	display : none;
	position : fixed;
	top : 0;
	left : 0;
	width : 100vw;
	height : 100vh;
}

.stamp_modal_layer_blk{
	position : absolute;
	top : 0;
	left : 0;
	width : 100vw;
	height : 100vh;
	background-color : rgba(0,0,0,.5);

}

.stamp_modal_inner{
	position : absolute;
	left : 50%;
	top : 50%;
	width: calc(100% - 50px);
	padding : 15px 10px;
	transform : translate(-50%,-50%);
	background-color : #fff;
	border: 1px solid #e3e3e3;

}

.stamp_modal_inner h4{
	color : #555;
	margin-bottom : 5px;
	font-size : 14px;
	font-weight : bold;
}

.stamp_modal_inner input{
	width : calc(100% - 10px);
	padding: 5px;
    border:1px solid #e3e3e3;
    box-shadow: none;
    font-size: 14px;
	
}

.stamp_modal_inner button{
	display : block;
	text-align : center;
	margin : 10px auto 0;
	padding : 5px 10px;
	background-color : #55b190;
	color : #fff;
	font-size : 13px;
	border : 0;
	box-shadow : none;
}

/*my_del start*/


.my_del_cont{
    margin: 12px 15px;
    
    background-color: #fff;
    border: 1px solid #e3e3e3;
  
}
.del_cont{
    padding: 20px 30px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}

.del_title{
    font-weight: 500;
    font-size: 15px;
}

.del_item_price{
    overflow: hidden;
    font-size: 13px;
    color: #999;
}

.del_item_price > div{
    display: inline-block;
    
}

.del_price:before{
    content: "|";
   font-size: 12px;
    vertical-align: top;
    color: #d0d0d0;
    display: inline-block;
    padding: 0 10px;
}

.del_address{
    font-size: 13px;
}

.inner_del_btn{
    width: 20px;
    position: absolute;
    right: 20px;
    top: 40px;
}

.inner_del_btn img{
    width: 100%;
}

.inner_del_btn img.rotate{
    transform: rotate(180deg);
}

.inner_del_cont{
    height: 0;
    overflow: hidden;
}

.inner_del_cont.active{
    height: 100% !important;
    
}

.inner_del_cont table{
    width: 100%;
    margin-top: 15px;
}

.inner_del_cont table tr th,
.inner_del_cont table tr td{
    font-size: 13px;
    padding: 0 5px;   
}
.inner_del_cont table tr th{
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
}

.inner_del_cont table tr td{
    color: #999999;
    padding-bottom: 5px;
}
.del_item_img{
    width: 40px;
    height: 40px;
}

.del_item_img img{
    width: 100%;
}



/*notice start*/



.notice_wrap{
    margin: 12px 15px;
    background-color: #fff;
    border: 1px solid #e3e3e3;    
}

.notice_inner_wrap{
   
    padding: 20px 30px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;


}
.notice_btn{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 25px;
    top: 30px;
}

.notice_btn img{
    width: 100%;
  
}

.notice_btn img.rotate{
    transform: rotate(180deg)
}

.notice_date{
    font-size: 13px;
    color: #a0a0a0;
    display: block;
}

.notice_title{
    font-size: 14px;
    vertical-align: top;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.notice_cont{
    height: 0;
    overflow: hidden;
   
}

.notice_cont.active{
    height: 100%;
    margin-top: 10px;
}

.notice_cont p{
    font-size: 14px;
    color: #444;
}


/*qna start*/
.notice_no_cont,
.qna_no_cont{
	text-align : center;
	padding: 20px;
	color : #9c9c9c;
}

.qna_wrap{
    margin: 12px 15px;
    background-color: #fff;
    border: 1px solid #e3e3e3;    
}

.qna_inner_wrap{
   
    padding: 20px 15px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;

}

.qna_inner_wrap > div {
    display: inline-block;
}
.qna_status_wrap{
    text-align: center;
    border-right: 1px solid #e3e3e3;
    padding-right: 10px;
    margin-right: 10px;
    
}


.qna_status_wrap span{
    display: block;
    font-size: 11px;
    
}

.qna_status_wrap img{
    width: 25px;
    height: 25px;
}


.qna_title_wrap img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 10px;
}

.qna_date{
    font-size: 13px;
    color: #a0a0a0;
    display: block;
}

.qna_title{
    font-size: 14px;
    vertical-align: top;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: 3px;
    font-weight: 500;
}


.qna_btn{
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    background-color: #55b190;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

/*qna_detail start*/

#question_wrap{
    
    border-bottom: 1px solid #e3e3e3;
}

.answer_wrap,
.question_wrap{
   
    padding: 20px 15px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;

}
.answer_wrap:last-child,
.question_wrap:last-child{
    border-bottom: 0;
}
.answer_title_wrap,
.question_title_wrap{
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.question_title_wrap > div{
    display: inline-block;
}

.qna_edit_btn{
    background-color: rgba(188,155,106,1);
    color: #fff;
    position: absolute;
    padding: 3px 8px;
    top: 30px;
    right: 15px;
    font-size: 13px;
}

.question_cont_wrap{

    padding-top: 20px
}

.question_cont_wrap p{
    font-size: 14px;
    color: #333;
}

.answer_status_wrap{
    text-align: center;
    border-right: 1px solid #e3e3e3;
    padding-right: 10px;
    margin-right: 10px;
}

.answer_status_wrap > img{
    width: 30px;
    height: 30px;
}


#qna_title{
	font-size : 14px;
    width: calc(100% - 10px);
    padding: 5px;
}

.qna_inner_wrap textarea{
	font-size : 14px;
    padding: 5px;
    margin: 10px 0;
    width: calc(100% - 10px);
}


/*offline start*/



.offline_wrap{
    margin: 12px 15px;
    background-color: #fff;
    border: 1px solid #e3e3e3;    
}

.offline_inner_wrap{
   
    padding: 20px 30px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;


}
.offline_btn{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 25px;
    top: 30px;
}

.offline_btn img{
    width: 100%;
  
}

.offline_btn img.rotate{
    transform: rotate(180deg)
}

.offline_tel{
    font-size: 13px;
    color: #55B190;
    display: block;
}

.offline_title{
    font-size: 14px;
    vertical-align: top;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

/*2020.05.22 심규문 매장주소 css 추가*/
/*2020.06.03 김수경 매장주소 폰트크기 줄임 14->11*/
.offline_address{
    font-size: 11px;
    vertical-align: top;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    display: block;
}

.offline_cont{
    height: 0;
    overflow: hidden;
   
}

/*2020-02-18 주석처리 한 부분 - 나영*/

.offline_time{
    font-size : 12px
}

/*2020-02-18 주석처리 한 부분 - 나영*/

.offline_cont.active{
    height: 100%;
    margin-top: 10px;
}

.offline_cont p{
    font-size: 14px;
    color: #444;
}

/*레이어팝업 start*/
.modal_bg{position:fixed;z-index:10000;left:0;top:0;width:100%;height:100%;min-height:800px;background:rgba(0,0,0,.7);}
.popup{position:fixed;visibility:hidden;z-index:10001;left:50%;top:-9999px;border-radius:5px;background:#f9f9f9;box-shadow:0 0 20px #555;}
.popup.s260{width:260px;}
.popup.s400{width:400px;}
.popup.s490{width:490px;}
.popup.s520{width:520px;}
.popup.s560{width:560px;}
.popup.s620{width:620px;}
.popup.s700{width:700px;}
.popup.s750{width:750px;}
.popup.s760{width:760px;}
.popup.s820{width:820px;}
.popup.s1000{width:1000px;}
.popup .pop_header{margin-top:4px;height:45px;line-height:45px;font-size:18px;font-weight:normal;border-radius:5px 5px 0 0;background:#f1f3f4;border-bottom:1px solid #cccfd3;}
.popup .pop_container{padding:0px 0px 0px 0px; background:#fff; border-radius:0px 0px 0px 0px;}
/* .popup .pop_container{padding:20px; background:#fff; border-radius:0 0 5px 5px;} */
.popup .pop_container .customer_tab:first-child {margin-top:20px;}
.popup .pop_con_scroll{padding-bottom:0 !important;max-height:500px;overflow-y:auto;}
.popup .pop_con_scroll .foot_btn{padding-bottom:25px;}
.popup .popup_close{overflow:hidden;text-indent:-9999px;width:49px;height:49px;display:block;z-index:3200;position:absolute;right:0;top:0;cursor:pointer;background:url(images/btn_pop_close.png) no-repeat 50% 50%;}
.popup .txt_dialog{text-align:center;padding:20px 20px 20px 20px;font-size:16px;color:#333;line-height:20px;font-weight:normal;}
.popup .foot_btn{font-size:0;line-height:0;padding-top:0px;text-align:center;}
.popup .btn_n{display:inline-block;width:260px;height:38px;line-height:38px;font-size:14px;font-weight:normal;text-align:center;color:#000;border-radius:0px;border-bottom:0px solid #eee;font-size:14px; padding:0;}
.popup .btn_n_cf{display:inline-block;width:130px;height:38px;line-height:38px;font-size:14px;font-weight:normal;text-align:center;color:#000;border-radius:0px;border-bottom:0px solid #eee;font-size:14px; padding:0;}
.popup .foot_btn .btn_n + .btn_n {margin-left:0px;}
.popup .foot_btn .btn_n_cf + .btn_n_cf {margin-left:0px;}
.popup .bg_red{border-color:#38c2af;background:#44e7d1;}
.popup .bg_orange{border-color:#bf8053;background:#fd9850;}
.popup .bg_gray{border-color:#727272;background:#8e8e94;}

.ajax_loader{position:relative;width:50px;height:50px;margin:0 auto;}
.ajax_loader .circularG{position:absolute;background-color:#FB3939;width:11px;height:11px;-moz-border-radius:8px;-moz-animation-name:bounce_circularG;-moz-animation-duration:1.04s;-moz-animation-iteration-count:infinite;-moz-animation-direction:normal;-webkit-border-radius:8px;-webkit-animation-name:bounce_circularG;-webkit-animation-duration:1.04s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:normal;-ms-border-radius:8px;-ms-animation-name:bounce_circularG;-ms-animation-duration:1.04s;-ms-animation-iteration-count:infinite;-ms-animation-direction:normal;-o-border-radius:8px;-o-animation-name:bounce_circularG;-o-animation-duration:1.04s;-o-animation-iteration-count:infinite;-o-animation-direction:normal;border-radius:8px;animation-name:bounce_circularG;animation-duration:1.04s;animation-iteration-count:infinite;animation-direction:normal;}
.ajax_loader #circularG_1{left:0;top:20px;-moz-animation-delay:0.39s;-webkit-animation-delay:0.39s;-ms-animation-delay:0.39s;-o-animation-delay:0.39s;animation-delay:0.39s;}
.ajax_loader #circularG_2{left:5px;top:5px;-moz-animation-delay:0.52s;-webkit-animation-delay:0.52s;-ms-animation-delay:0.52s;-o-animation-delay:0.52s;animation-delay:0.52s;}
.ajax_loader #circularG_3{top:0;left:20px;-moz-animation-delay:0.65s;-webkit-animation-delay:0.65s;-ms-animation-delay:0.65s;-o-animation-delay:0.65s;animation-delay:0.65s;}
.ajax_loader #circularG_4{right:5px;top:5px;-moz-animation-delay:0.78s;-webkit-animation-delay:0.78s;-ms-animation-delay:0.78s;-o-animation-delay:0.78s;animation-delay:0.78s;}
.ajax_loader #circularG_5{right:0;top:20px;-moz-animation-delay:0.91s;-webkit-animation-delay:0.91s;-ms-animation-delay:0.91s;-o-animation-delay:0.91s;animation-delay:0.91s;}
.ajax_loader #circularG_6{right:5px;bottom:5px;-moz-animation-delay:1.04s;-webkit-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;animation-delay:1.04s;}
.ajax_loader #circularG_7{left:20px;bottom:0;-moz-animation-delay:1.17s;-webkit-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;animation-delay:1.17s;}
.ajax_loader #circularG_8{left:5px;bottom:5px;-moz-animation-delay:1.3s;-webkit-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;animation-delay:1.3s;}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}
/*레이어팝업 end*/










