
input.price_input{
    text-align: right;
}
/*Login page*/

.modal-header {
    text-align: center;
}

.modal-header h1 {
    width: 150px;
    margin: auto;
}

.modal-header h1 img {
    width: 150px;
}

.modal-header span {
    font-size: 14px;
}

button.btn-primary {
    background-color: #55B190;
    border-color: #55B190;
}

button.btn-primary:hover {
    background-color: #00a03a;
    border-color: #00a03a;
}

.modal_sign_btn {
    color: #a2a2a2 !important;
}

.modal-footer{
    padding-top: 0 !important;
}

.modal-footer .modal_sign_btn:not(:last-child):after{
    content: "|";
    margin-left: 5px;
    display: inline-block;
}

.modal-footer>:not(:first-child) {
    margin-left: 0 !important;
}

div.modal-header {
    padding: 3rem 1rem 0rem;
}

.modal-dialog #btnSave{
    padding: 10px 15px;
}

:-ms-input-placeholder.form-control {
    color: #6c757d;
    opacity: 1;
}

.logo_img {
    width: 180px;
    padding-top: 20px;
    padding-left: 20px;
}

.form-control:focus {
    border-color: rgb(0, 177, 64) !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 177, 64, .25) !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #00a03a !important;
    border-color: #00a03a !important;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(00, 143, 66, 0.5) !important;
}


/*find_pw1 start*/

.btn_box .btn2 {
    background-color: #55B190;
    border: 1px solid #55B190;
}

/*pagination start*/



.pagination a:hover:not(.active) {background-color: #ddd;}

/*header after login*/

.top_menu h1 {
    float: left;
}



/*leaflet start*/



.nh_leaflet_iframe{
    border:1px solid #e0e0e0;
    background-color: #fff;
}

.nh_leaflet_iframe nav{
/*    overflow-style: none;*/
/*    -ms-overflow-style: none;*/
/*    &: :-webkit-scrollbar {;*/
/*    display: none !important;*/
/*    }: ;  */
}
.iframe_wrap{
    display: inline-block;
/*    padding: 60px 17px 50px 17px;*/
/*    background-image: url(../images/mob_bg.png);*/
    background-size: 100% 100%;
}

.leaflet_submit{
    padding: 6px 20px;
    background-color: #55B190;
    border: 0;
    color: #fff;
    box-shadow: none;
    font-size: 13px;
/*    margin-bottom: 5px;*/
}

/**/

#leafletEditWrap{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    transition : .5s all;
}

.black_modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
}

.black_modal2{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
}

#leafletEditWrap>ul>li{
    position: absolute;
    width: 70%;
    right: 0;
    top: 50px;
}

#headerButton{
	width : 100%;
	text-align : right;

}

.leaflet_btn_wrap{
	margin-right: 15px;
	margin-top: 10px;
}

.leaflet_btn_wrap button{
	width: 45px;
	box-shadow : none;
	border : 0;
}

.leaflet_btn_wrap button img{

width: 100%;
}

.cls_btn{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cls_btn img{
	width: 100%;
}

/*leaflet_edit_btn*/

/*.leaflet_new{*/
/*    padding: 5px 10px;*/
/*    background-color: #248c45;*/
/*    color: #fff;*/
/*    border: 0;*/
/*    box-shadow: none;*/
/*    font-size: 14px;*/
/*}*/
.leaflet_del_prod{
    width:calc(100% - 20px);
    padding: 5px 10px;
    background-color: #8c2424;
    color: #fff;
    border: 0;
    box-shadow: none;
    font-size: 14px;
    margin-right: 5px;
    
}

/*.leaflet_del{*/
/*    padding: 5px 10px;*/
/*    background-color: #8c2424;*/
/*    color: #fff;*/
/*    border: 0;*/
/*    box-shadow: none;*/
/*    font-size: 14px;*/
/*    margin-left: 3px;*/
/*}*/


/*leaflet_date*/

.leaflet_date{
    display: none;

    padding: 10px;
    border:1px solid #d0d0d0;
    background-color: #fff;
    position: relative;
/*    text-align: center;*/
}

.leaflet_date.active{
    display: block;
}
.leaflet_date .date_radio{
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
}
.leaflet_date input[type=text]{
    padding: 5px;
    width: 46%;
    border:1px solid #e0e0e0;
    font-size: 13px;
}

.leaflet_date button{
    display: block;
    width: calc(100% - 5px);
    margin-top: 5px;
    font-size: 13px;
}

/*leaflet_banner"*/

.leaflet_banner{
    display: none;
    background-color: #fff;
    border:1px solid #d0d0d0;
    padding: 10px;
    text-align: center;
    position: relative;
}

.leaflet_banner .tooltip_wrap{
    top: 22px;
    left: 100px;
}

.leaflet_banner .tooltip_wrap .bubble{
    width: 220px;
    height: 110px;
    padding: 3px 10px;
    text-align: left;
}

.leaflet_banner .tooltip_wrap .bubble:before,
.leaflet_banner .tooltip_wrap .bubble:after{
    display: none;
}

.leaflet_banner .tooltip_wrap .tooltip_hover{
    left: -95px;
    top: 15px;
}

.leaflet_banner.active{
    display: block;
}

.leaflet_banner > span{
    font-size: 12px;
    color: #969696;
    display: block;
/*    width: 500px;*/
    text-align: left;
    margin-bottom: 10px;
}

.leaflet_banner ul li {
    display: inline-block;
    margin: 5px;
    text-align: center;
    position: relative;
}

.leaflet_banner ul li img{
    width: 220px;
}

.leaflet_banner_add{
    border: 1px dotted #969696;
    width: 240px;
    padding: 13px 0;
    text-align: center;
    color: #969696;
    font-size: 14px;
    cursor: pointer;
}


.leaflet_banner_add:before{
    content: '+';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: #969696;
    color: #fff;
    border-radius: 50%;
}

.leaflet_banner_hover span{
    display: none;
}

.leaflet_banner_hover span.active{
    position: absolute;
    display: block;
    top: 0%;
    left: 0;
    width: 240px;
    height: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.5)
}

#uploadFile{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.upload_file_label{
    display: inline-block;
    width: 107px;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #55B190;
    border: 0;
    color: #fff;
    box-shadow: none;
    font-size: 13px;
    margin-top: 5px;
}

#banner_add_btn{
    display: inline-block;
    width: 107px;
    margin-top: 5px;
}

#banner_edit_btn{
    width: 220px;
}

/*leaflet_image start*/

.leaflet_image{
    display: none;
    background-color: #fff;
    border:1px solid #d0d0d0;
    padding: 20px 10px;
/*    text-align: center;*/
    position: relative;
}

.leaflet_image.active{
    display: block;
}

.leaflet_image input[type="text"]{
    padding: 5px;
    width: 70%;
    border:1px solid #e0e0e0;
    font-size: 13px;
}

.leaflet_image input[type="file"]{
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    border:1px solid #e0e0e0;
    font-size: 13px;
}

.leaflet_search{
    background-color: #e0e0e0;
    box-shadow: none;
    border: 0;
    padding: 6px 10px;
    font-size: 13px;
    width: 30%;
}

.leaflet_image span{
    font-size: 12px;
    color: #969696;
    text-align: left;
}

#thum_add_btn{
    width: 100%;
    margin-top: 5px;
}


.leaflet_image ul li{
    display: inline-block;
    margin: 10px;
    font-size: 13px;
}

.leaflet_image ul li img{
    width: 60px;
    
}

.leaflet_image_add{
    border: 1px dotted #969696;
    padding: 40px 5px;
    text-align: center;
    color: #969696;
    font-size: 14px;
    cursor: pointer;
}
.leaflet_image_add:before{
    content: '+';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: #969696;
    color: #fff;
    border-radius: 50%;
}

/*leaflet_goods_name,leaflet_goods_price starts*/



.leaflet_goods_name,
.leaflet_goods_price{
/*    display: none;*/
    text-align: center;
/*     width: 540px;*/
    padding: 10px;
    border:1px solid #d0d0d0;
    background-color: #eaeaea;
    position: relative;
}

.leaflet_goods_name.active,
.leaflet_goods_price.active{
    display: block;
}

.leaflet_goods_name > input,
.leaflet_goods_price > input{
    width: calc(100% - 65px);
    padding: 5px;
    border:1px solid #e0e0e0;
    border-right: 0;
    font-size: 13px;
}

.leaflet_goods_price input{
    text-align: right;
}






/*leaflet_discount start*/

.leaflet_discount{
    display: none;
/*    width: 540px;*/
    padding:10px;
    border:1px solid #d0d0d0;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.leaflet_discount.active{
    display: block;
}

.leaflet_image h5,
.leaflet_banner h5,
.leaflet_date h5,
.leaflet_discount h5{
     font-size: 12px;
    text-align: left;
    margin-top: 15px;
}

.leaflet_coupon_table{
/*    width: 520px !important;*/
    width: 100%;
    background-color: #fff;
    font-size: 12px;
    border: 1px solid #e0e0e0;
    table-layout: fixed;
    word-break: break-all;
    border-collapse: collapse;
}

.leaflet_coupon_table thead th{
    vertical-align: middle;
}

.leaflet_coupon_table thead th,
.leaflet_coupon_table tbody td{
    padding: .5rem;
}


.manageModal{
    display: none;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    z-index: 99;
}

.manageModal h4{
    font-size: 12px;
    color: #111;
}

.manageModal.active{
    position: fixed;
    display: block;
    right: 15%;
    top: 15%;
}

.manageModal label{
    height: 20px;
    width: 100%;
    border: 1px solid #e0e0e0;
}

.close_modal{
    padding: 6px 20px;
    background-color: #55B190;
    border: 0;
    color: #fff;
    box-shadow: none;
    font-size: 13px;
}


.leaflet_coupon_table td>button{
    padding: 0 6px;
    border: 0;
    box-shadow: none;
    border-radius: 10%;
    color: #fff;
    background-color: ##ff8266;
    text-align: center;
}

.leaflet_discount .table input{
    padding: 5px;
}

.icon_select img{
    width: 30px;
}

.table-remove {
  background-color: #700;
    color: #fff;
  cursor: pointer;
 padding: 0 7px;
 border-radius: 50%;
}

.table-add {
  background-color: #070;
    color: #fff;
  cursor: pointer;
  position: absolute;
    padding: 0 7px;
    border-radius: 50%;
  top: 8px;
  right: 15px;
}




#discount_icon{
    width: 70px;
}

span.discount_notice{
    display: block;
    font-size: 11px;
    color: #999;
    margin: 5px 0;
}

.leaflet_discount textarea{
    width: 100%;
    display: block;
	resize : none;
}



/*new_item_wrap start*/

.new_item_wrap{
   display: none;
    overflow: hidden;
    border: 1px solid #d0d0d0;
    padding: 10px;
    background-color: #fff;
    position: relative;
}

.new_item_wrap.active{
    display: block;
}

.new_item_wrap .table{
/*    width: 500px !important;*/
    border: 1px solid #e0e0e0;
    font-size: 13px;
    background-color: #fff;
    table-layout: fixed;
    word-break: break-all;
}

.new_item_wrap .table td{
    padding: 7px;
}

.sub_span{
    font-size: 10px;
    color: #a0a0a0;
}

.new_item_wrap .table td input[type="text"]{
    width: 100%;
}

.new_item_wrap .table td select{
    width: 100px;
}

.new_item_wrap .leaflet_submit{
    width: 100%;
}

.new_leaflet_wrap{
   
    text-align: center;    
    font-size: 14px;
    color: #fff;
     background-color: rgb(188,155,106);
    cursor: pointer;
    padding: 5px 10px;
    float: right;
}

.leaflet_btn_wrap .fr{
	float: right;
}


/*leaflet_create start*/

.leaflet_create_wrap{
    width: 900px;
    margin-left: 30px;
    text-align: center;
}

.leaflet_create_cont,
.leaflet_create_date,
.tab_content > .leaflet_submit{
    margin-top: 20px
}

.leaflet_create_cont,
.leaflet_create_date{
    width: 540px;
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}


.leaflet_create_cont span,
.leaflet_create_cont a{
    
    font-size: 13px;
    display: inline-block;
    margin-bottom: 5px;
}

.leaflet_create_date input{
    padding: 5px;
    width: 120px;
    font-size: 13px;
    margin: 0 10px;
    border: 1px solid #d0d0d0;
}

.ui-widget-header{
    background: #eaeaea !important;
    border:1px solid #eaeaea !important;
    font-size: 15px;
    font-family:"Noto Sans KR", sans-serif !important;
}

.ui-datepicker-calendar td,
.ui-datepicker-calendar th{
    font-size: 14px;
}

.leaflet_create_wrap div:nth-child(2){
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

.leaflet_file_add input{
    font-size: 13px;
    margin: 10px 0;
    background-color: #fff;
    
}



/*manage_order start*/

.manage_order_container{
    padding: 10px 15px;
}

.manage_order_wrap{
    width: 100%;
    font-size: 13px;
    overflow-x: scroll;
}

.manage_order_top{
/*    width: 900px;*/
    margin-bottom: 5px;
}

.manage_order_top > input{
    width: 100px;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #d0d0d0;
    
}
.manage_order_top select{
    width: 100px;
    padding: 5px;
    text-align: center;
}


.orderTotal{
    margin-left: 5px;
}

#orderSearch{
	border-right : 0;
	font-size : 13px;
    padding: 5px;
    border: 1px solid #d0d0d0;
}

.order_search button{
    padding: 6px 10px;
    background-color: #55B190;
    border: 0;
    box-shadow: none;
    color: #fff;
	font-size : 13px;
}

.manage_order_top > input,
.manage_order_top > div{
    display: inline-block;
}

.order_search{
    display: block !important;
    text-align: right;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom:  1px solid #e0e0e0
}

.manage_order_table{
    width: 500px;
    font-size: 12px;
    border: 1px solid #e0e0e0;
    text-align: center;
    table-layout: fixed;
    word-break: break-all;
}

.manage_order_table th{
    background-color: #e7e7e7;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #d0d0d0;
}

.manage_order_table td{
    padding: 5px;
    border: 1px solid #d0d0d0;
}

.manage_order_table td.order_num{
	text-decoration : underline;
	cursor : pointer;
	color: #0062b7;;
}

.manage_order_table td.order_num:hover{
    font-weight: bold;
}

.manage_order_table tbody tr:nth-child(2n) td{
    background-color: #fafafa;
}


/*order_popup start*/

.order_detail_wrap{
    width: 100%;
    height: 600px;
    padding: 20px;
    font-size: 14px;
}

.order_detail_wrap > div{
    margin-bottom: 10px;
}

.order_detail_wrap h5{
    font-size: 13px;
}

.detail1{
    font-weight: bold;
}

.order_detail_wrap > div table{
    border: 1px solid #d0d0d0;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.order_detail_wrap .detail3 table{
    border: 1px solid #d0d0d0;
    width: 600px;
    text-align: center;
    font-size: 13px;
}

.detail3{
    overflow-x: scroll;
}

.order_detail_wrap > div table th,
.order_detail_wrap > div table td{
    border: 1px solid #d0d0d0;
    padding: 3px;
}

.order_detail,
.order_detail_wrap > div table{
	table-layout : fixed;
	word-break : break-all;
}

.order_detail_wrap > div table td input[type=number]{
    width: 50px;
}

.order_detail_wrap div.detail2 table td input[type=text]{
    width: 100%;
}

.order_detail_wrap div.detail3 table td input[type=text]{
    width: 75px;
}

.detail4 textarea{
    width : 100%;
	resize : none;
}

.detail6{
    overflow: hidden;
    margin-bottom: 30px;
    width: 100%;
}

.detail6 select{
  
}

.detail6 div{
    margin-top: 15px;
}
.detail6 div button{
    padding: 8px 15px;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    color: #fff;
}

#orderItemList button.itemUpdateBtn,
#orderItemList button.itemDelBtn,
#orderItemAddBtn{
	padding: 3px 6px;
    border: 0;
	font-size : 11px;
    box-shadow: none;
    border-radius: 5px;
    color: #fff;
	background-color : #555;
}

#orderItemList button.itemUpdateBtn:hover{
	background-color : #55B190;
}

#orderItemList button.itemDelBtn:hover{
	background-color: #ab1f1f;
}

#orderItemAddBtn:hover{
	background-color :#20afff;
}

#manageOrderSave{
    background-color: #55B190;
    margin-right: 5px;
}

#manageOrderClose{
    background-color:#ab1f1f;
}

.detail5, .detail6{
	font-size : 13px;
	font-weight : bold;
}

/*prod_master start*/

.prod_master_wrap{
    width: 900px;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 30px;
}

.prod_master_wrap > div{
    display: inline-block;
    vertical-align: top;
    
}

.prod_master_lft{
    width: 600px;
    border-right: 1px solid #d0d0d0;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}

.prod_master_lft .pagination_wrap{
    width: 600px;
    margin-left: 0;
}

.prod_lft_btn_wrap{
    margin-bottom: 5px;
	overflow: hidden;
}

.prod_lft_btn_wrap img{
    width: 30px;
    height: 30px;
}

.prod_search{
    float: right;
    vertical-align: bottom;
	margin-bottom : 10px;
}

#selectedImgDown{
   padding: 5px 10px;
    border: 0;
    font-size: 12px;
    box-shadow: none;
    border-radius: 5px;
    color: #fff;
    background-color: #c4c4c4;
}

.prod_search input{ 
    padding: 0 5px;
	line-height : 24px;
    font-size: 12px;
	height: 26px;
    border: 1px solid #d0d0d0;;
    box-shadow: none;
	vertical-align : top;
}

.prod_search_btn{
    border: 1px solid #c4c4c4;
    box-shadow: none;
    background-color: #c4c4c4;
    padding: 0 3px;
	line-height : 24px;
    color: #fff;
    font-size: 12px;
	vertical-align : top;
}

.prod_master_table{
    width: 100%;
	table-layout : fixed;
    border: 1px solid #d0d0d0;
    text-align: center;
    font-size: 13px;
}


.prod_master_table tr:first-child{
	background-color: #e7e7e7;
}

.prod_master_table th{
    
    padding: 14px 16px;
    font-weight: bold;
    border: 1px solid #d0d0d0;
}

.prod_master_table th.product_modal_name,
.prod_master_table th.product_modal_img_cnt{
	position : relative;
}

.prod_master_table th.product_modal_name span:hover,
.prod_master_table th.product_modal_img_cnt span:hover{
	color : #55B190;
}

.prod_master_table th.product_modal_name span.active,
.prod_master_table th.product_modal_img_cnt span.active{
	color : #55B190;
}

.prod_master_table th.product_modal_name .name_ds,
.prod_master_table th.product_modal_img_cnt .img_ds{
	display: block;
	position : absolute;
	font-size : 7pt;
	top: 11px;
	cursor : pointer;
}

.prod_master_table th.product_modal_name .name_as,
.prod_master_table th.product_modal_img_cnt .img_as{
	display: block;
	position : absolute;
	font-size : 7pt;
	top: 22px;
	cursor : pointer;
}

.prod_master_table th.product_modal_name .name_ds,
.prod_master_table th.product_modal_name .name_as{
	right: 82px;
}

.prod_master_table th.product_modal_img_cnt .img_ds,
.prod_master_table th.product_modal_img_cnt .img_as{
	right: 13px;
}

.prod_master_table td{
    padding: 14px 16px;
    border: 1px solid #d0d0d0;
    background-color: #fafafa;
	text-overflow : ellipsis;
	white-space: nowrap;
	overflow : hidden;
}

.prod_master_table tr:nth-child(2n) td{
    background-color: #fff;
}
.prod_code{
    cursor: pointer;
}

.prod_code:hover{
    border-bottom: 1px solid #555;
    
}

.prod_keyword_wrap{
	position : relative;
}

.search_keyword_wrap{
	    position: absolute;
		width: 143px;
		height: 90px;
		overflow-x : hidden;
		overflow-y : scroll;
		text-align: center;
		left: 15px;
		background-color: #fff;
		z-index : 999;
		border-bottom : 1px solid #f0f0f0;
}

.search_keyword_wrap ul li{
	padding: 3px;
	border-bottom : 1px solid #f0f0f0;
}

.search_keyword_wrap ul li:last-child{
	border-bottom : 0;
}

.prod_table_btn_wrap{
    width: 600px;
    overflow: hidden;
    margin-top: 10px;
    text-align: right;
    padding-right: 10px;
}

.prod_table_btn_wrap button{
    border: 0;
    box-shadow: none;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
}

#prodTableDel{
    float: left;
    background-color: #ab1f1f
}

#prodTableAdd{
    float: right;
    background-color: #55B190;
}

.prod_upload_wrap{
    text-align: center;
	margin-bottom: 80px;
}

.leaflet_file_add{
	display : inline-block;
}

.leaflet_file_add form{
	display : inline-block;
}

.prod_upload_wrap input{
/*    display: block;*/
    margin: auto;
    margin-top: 5px;
	margin-bottom: 5px;
}

.prod_update_form{
    color: #555;
    font-size: 9pt;
}

.prod_update_form + a{
    font-size: 9pt;
}

.prod_master_rgt{
    width: 280px;
}

.prod_master_rgt h5{
    font-size: 13px;
    display: inline-block;
    width: 28%;
	vertical-align : top;
}

.prod_rgt_btn_wrap{
    width: 65%;
    display: inline-block;
    margin-left: 15px;
}

.prod_rgt_btn_wrap ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 5px;
}

.prod_rgt_btn_wrap ul li{
    flex: 1;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #d0d0d0;
    border-left: 0;
    font-size: 13px;
    cursor: pointer;
    background-color: #c4c4c4;
    color: #fff;
    margin-left: 3px;
    border-radius: 5px;
}

#prodSelectDown:hover{
    color: #fff;
    background-color: rgb(188,155,106);
}

#prodSelectDel:hover{
    color: #fff;
background-color: #ab1f1f;
}

#prodUpload{
    margin-top: 10px;
    float: right;
    width: 100px;
    text-align: center;
    padding: 5px 0;
    font-size: 13px;
    border: 0;
    cursor: pointer;
    margin-left: 3px;
    border-radius: 5px;
    color: #fff;
    background-color: #55B190; 
}

.prod_rgt_btn_wrap ul li:first-child{
    border-left: 1px solid #d0d0d0;
    margin-left: 0;
}

.prod_img_wrap{
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #d0d0d0;
    margin-bottom: 10px;
}
.prod_img{
    width: calc(33.3% - 10px);
    float: left;
    padding: 5px;
    margin: 5px;
    position: relative;
}

.prod_img img{
    width: 100%;
    height: 100%;
}

#fileTableTbody td{

	border: 1px solid #d0d0d0 !important;
	font-size : 13px;
	position : relative;
	padding-right: 50px;
}

#fileTableTbody #dropZone{
	text-align : center;
	height: 100px;
	padding-right: 0;
	color : #b2b2b2;
}

#fileTableTbody #dropZone img{
	width: 50px;
}

#fileTableTbody td a{
    position : absolute;
	right : 10px;
	top : 50%;
	transform : translateY(-50%);
	background-color : #ab1f1f;
	color : #fff;
	border-radius : 10px;
	padding: 5px;
	font-weight : 600;
	font-size : 11px;
}

.prod_img input[type=checkbox]{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;   
}

.prod_modal_edit_wrap{
    display: none;
    position: absolute;
    width: 600px;
    bottom: -4%;
    left: 0;
    background-color: #555;
    padding: 10px;
}

.prod_modal_edit_wrap.active{
    display: block;
}

.prod_modal_edit{
    background-color: #fff;
    width: 100%;
    font-size: 13px;
    text-align: center;
	table-layout : fixed;
	word-break : break-all;
}

.prod_modal_edit th{
    background-color: #e7e7e7;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #d0d0d0;
}

.prod_modal_edit td{
    padding: 7px;
    border: 1px solid #d0d0d0;
}

.prod_modal_edit td input{

	padding: 3px;
	width : 90%;
	text-align : center;	
}

.prod_modal_edit td button{
    padding: 3px;
    border: 0;
    box-shadow: none;
    border-radius: 3px;
    color: #fff;
    background-color: #55B190;
}

.modal-dialog-scrollable{
    margin-top: 150px !important;
}

.modal-content{
    border: 0 !important;
}








