body {
    background-color: #eeeeee
}

header {
    background-color: #fff;
}

#share_btn{
    display: none !important;
}

.coupon_choice{
    overflow: hidden;
    display: flex;
}

.coupon_choice li {
    flex: 1;
    vertical-align: bottom;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    color: #777;
    border: 1px solid #e3e3e3;
    border-bottom: 0;
    border-right: 0;
    padding: 10px 15px;
    margin-top: 12px;
    z-index: 1;
    font-size: 13px;
}

.coupon_choice li:first-child{
    border-left: 0;
}


.coupon_choice li.active{
    font-weight: 600;
    color: #333;
    
}

.item_list_inner_wrap{
    z-index: 0;
    background-color: #fff;
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.figure {
    width: calc(33.333% - 30px) !important;
    background-color: #fff;
    padding: 10px;
    margin: 4px !important;
    border: 1px solid #e3e3e3;
    text-align: center;
    float: left;
}

.coupon_cont img{
    width: 100%;
}

/*2020-06-18 padding값 추가-미솔*/
.dicount_date {
    display: block;
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 6%;
}
/*2020-06-18 padding값 추가-미솔*/

.discount_info {
	width: calc(100% - 10px);
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.product_detail button {
    color: #fff;
    background-color: #55B190;
    border: 0;
    box-shadow: none;
    padding: 5px 15px;
    font-size: 13px;
}

.figure > div {
    margin-bottom: 5px;
}

.product_detail a {
    margin-bottom: 5px;
}

.discount_left{
    display: block;
    font-size: 13px;
    color: #ff0000;
    font-weight: 500;
}

.coupon_img{
    display: block;
    width: 100%;
    height: 65px;
    background-image: url(../images/coupon_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 130px;
    max-height: 65px;
    line-height: 40px;
    color: #55B190;
    font-size: 13px;
    font-weight: 600;
}














